// brand color
// $accent: #ED972E;

// primary
// $primary: #CBD4C1;

// secondary
// $secondary: #DEBFA0;

// background
$background: #F3F2EA;

// text
$text: #484742;

// neutral
$white: #fff;
$black: #1c1c1c;
$light-gray:#E2E0DF;
$dark-gray:#797977;
$brown:#917170;

// alpha
$alpha-10: 0.1;
$alpha-20: 0.2;
$alpha-30: 0.3;
$alpha-30: 0.4;
$alpha-50: 0.5;
$alpha-60: 0.6;
$alpha-70: 0.7;
$alpha-80: 0.8;
$alpha-90: 0.9;
$alpha-100: 1;